/* ======================================== :)
(: Designer is Mohamed Elbana at 6/4/2017   :)
(: ---------------------------------------- :)
(: Copyright © 2017 for Arabic Coders       :)
(: ---------------------------------------- :)
(: Version : V 1.0.0 2017 | Coder Assistant :)
(: ======================================== */
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
img {
    max-width: 98%;
    margin: 1%;
}

/* direction */
.ar {/* right to left */
    direction: rtl;
}
.en {/* left to right */
    direction: ltr;
}
/* container */
.container {/* large screen */
    width: 75%;
    margin: auto;
    overflow: hidden;
}
@media screen and (max-width: 1000px) {/* at medium screen */
    .container {
        width: 85%;
    }
}
@media screen and (max-width: 800px) {/* at small screen */
    .container {
        width: 90%;
    }
}
/* overflow */
.of {
    overflow: hidden;
}
.of-x {
    overflow-x: hidden;
}
/* display */
.none, .m-none, .m-i-none {
    display: none;
}
.s-none {
    display: block;
}
.s-i-none {
    display: inline-block;
}
@media screen and (max-width: 800px) {
    .m-i-none {
        display: inline-block;
    }
    .m-none {
        display: block;
    } 
    .s-none, .s-i-none {
        display: none;
    }
}
/* text align */
.center {/*center*/
    text-align: center;
}
.t-left {/* left */
    text-align: left;
}
.t-right {/* right */
    text-align: right;
}
/* float */
.right ,.max-right {
    float: right;
}
.left ,.max-left {
    float: left;
}
@media screen and (max-width: 800px) {
    .max-right, .max-left {
        float: none;
    }
}
/* line */
li.act {
    height: 1px;
    background-color: #eee;
}
