/* ========================================= *
 * :) Designer is : Mohamed Elbana        :) *
 * ----------------------------------------- *
 * :) Copyright © 2017 for Arabic Coder   :) *
 * ----------------------------------------- *
 * :) Version of Style : V 1.0.0 2017     :) *
 * ========================================= *
 * Start Style :) 
 * -------------- */
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing:  border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #eee;
    font: 18px 'vip-hakm';
}
@media screen and (max-width: 1000px) {
    body {
        font-size: 16px;
    }
}
@media screen and (max-width: 800px) {
    body {
        font-size: 14px;
    }
}
/* direction ltr and rtl option           :)
 * ----------------------------------------- */
.ar {
    direction: rtl;
}
.en {
    direction: ltr;
}
/* some colors for design                 :)
 * ----------------------------------------- */
.white {
    background-color: #ffffff;
}
.white-text, .white-text a {
    color: #ffffff;
}

.lite-blue {
    background-color: #42a5f5;
}
.blue {
    background-color: #2196f3;
}
.blue-dark {
    background-color: #1e88e5;
}
/* container 80% max , 85% mid , 90% min  :)
 * ----------------------------------------- */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
    .container {
        width: 85%;
    }
}
@media screen and (max-width: 800px) {
    .container {
        width: 90%;
    }
}
/* overflow and overflow-x option         :)
 * ----------------------------------------- */
.overflow {
    overflow: hidden;
}
.overflow-x {
    overflow-x: hidden;
}
/* float at all screens option.           :)
 * ----------------------------------------- */
.right, .max-right {
    float: right;
}
.left, .max-left {
    float: left;
}
@media screen and (max-width: 800px) {
    .max-right, .max-left {
        float: none;
    }
}
/* display none option                    :)
 * ----------------------------------------- */
.none, .max-none, .max-inline ,#f2 {
    display: none;
}
@media screen and (max-width: 800px) {
    .max-block {
        display: block;
    }
    .max-inline {
        display: inline-block;
    }
}
.min-block {
    display: block;
}
.min-inline {
    display: inline-block;
}

@media screen and (max-width: 800px) {
    .min-block ,.min-inline ,.nav1 a.min-inline {
        display: none;
    }
}
/* btn option for <button> and <a>        :)
 * ----------------------------------------- */
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
.cairo {
    font-family: 'cairo';
}
.center {
    text-align: center;
}
.right-text {
    text-align: right;
}
.left-text {
    text-align: left;
}
.btn {
    display: inline-block;
    border-radius: 3px;
    border: none;
}
/* font-size settings :) 
 * --------------------- */
.text-xxxl {
    font-size: 34px;
}
.text-xxl {
    font-size: 30px;
}
.text-xl {
    font-size: 26px;
}
.text-l {
    font-size: 22px;
}
.text-m {
    font-size: 18px;
}
.text-s {
    font-size: 14px;
}
